body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.load{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: loading 10s linear;
    /* transform: translate(200px,200px); */
}
.load_img{
    /* width: 25vw; */
    /* height: 100vh; */
    background: linear-gradient(black,black,#007690);
    border-radius: 25px;
}

@keyframes loading{
    0%{
        z-index: 15;
        transform: scale(1);
        opacity: 1;
    }
    25%{
        z-index: 10;
        transform: scale(2);
        opacity: 0.75;
    }
    50%{
        z-index: 5;
        transform: scale(3);
        opacity: 0.5;
    }
    75%{
        z-index: 0;
        transform: scale(4);
        opacity: 0.25;
    }
    100%{
        z-index: -5;
        transform: scale(5);
        opacity: 0;
    }
}

h1.start{
    color: white;
    position: absolute;
    font-size: 100px;
    font-weight: 100;
}

.img{
    position: absolute;
    width: 100%;
    z-index: -2;
    filter: blur(5px);
}

div.a div{
    border: solid 5px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgb(2, 96, 117), black);
}

.a{
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

div.a div:hover{
    box-shadow: 0 5px 10px white;
}

.ani{
    position: absolute;
    z-index: -1;
}

.dot li{
    position: absolute;
}

ul.dot li{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(198, 196, 196);
    bottom: 0px;
    list-style: none;
    animation: animate 15s linear infinite;
    opacity: 0;
}

.dot li:nth-child(1){
    top: 10px;
    animation-delay: 0s;
}

.dot li:nth-child(2){
    top: 150px;
    animation-delay: -7s;
}

.dot li:nth-child(3){
    top: 50px;
    animation-delay: -1s;
}

.dot li:nth-child(4){
    top: 300px;
    animation-delay: -4s;
}

.dot li:nth-child(5){
    top: 450px;
    animation-delay: -7s;
}

.dot li:nth-child(6){
    top: 250px;
    animation-delay: -6s;
}

.dot li:nth-child(7){
    top: 350px;
    animation-delay: 0s;
}

.dot li:nth-child(8){
    top: 550px;
    animation-delay: -2s;
}

.dot li:nth-child(9){
    top: 650px;
    animation-delay: -5s;
}

.dot li:nth-child(10){
    top: 750px;
    animation-delay: -3s;
}

.dot li:nth-child(11){
    top: 10px;
    animation-delay: -8s;
}

.dot li:nth-child(12){
    top: 150px;
    animation-delay: -7s;
}

.dot li:nth-child(13){
    top: 50px;
    animation-delay: -9s;
}

.dot li:nth-child(14){
    top: 300px;
    animation-delay: -12s;
}

.dot li:nth-child(15){
    top: 450px;
    animation-delay: -7s;
}

.dot li:nth-child(16){
    top: 250px;
    animation-delay: -6s;
}

.dot li:nth-child(17){
    top: 350px;
    animation-delay: -8s;
}

.dot li:nth-child(18){
    top: 550px;
    animation-delay: -10s;
}

.dot li:nth-child(19){
    top: 650px;
    animation-delay: -13s;
}

.dot li:nth-child(20){
    top: 750px;
    animation-delay: -11s;
}

@keyframes animate{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: translateX(1500px);
        opacity: 0;
    }
}

.b{
    width: 100%;
    height: 90px;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.655), rgba(1, 96, 125, 0.605));
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    /* margin-top: 20px; */
}

div.c img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: 5px;
}

div.c h1{
    color: rgb(113, 158, 186);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: xx-large;
    display: inline;
}

.c{
    display: flex;
}

.d{
    margin: 15px;
    display: flex;
    align-items: flex-end;
}

div.d button{
    padding: 5px 10px;
    background: black;
    color: bisque;
    border: solid 1px rgb(113, 158, 186);
    font-size: large;
    margin-left: 10px;
}

div.d button:hover{
    text-shadow: 0 5px 5px rgb(113, 158, 186);
    box-shadow: 0 5px 5px rgb(113, 158, 186);
}

.ul{
    list-style-type: none;
    color: aliceblue;
    background: black;
    display: flex;
    justify-content: space-between;
    display: inline;
    border: solid 2px rgb(113, 158, 186);
    border-top: none;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    padding: 20px 120px;
}

.ul1{
    list-style-type: none;
    color: aliceblue;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px 0px 60px;
    border-top-right-radius: 30%;
    margin: 0px;
    height: 50px;
}

.ul1 li{
    display: inline;
    margin: 0px 10px;
    padding: 5px 40px;
}

.ul li{
    display: inline;
    margin: 0px 10px;
    border: solid 2px wheat;
    padding: 5px 40px;
}

.ul li:hover{
    color: rgba(152, 231, 248, 0.749);
    border-color: rgb(1, 48, 38);
}

.foot{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.655), rgba(1, 96, 125, 0.605));
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 50px;
    color: white;
    background: black;
    padding-left: 70px;
    border-top-left-radius: 40%;
}