body
{
    align-content: center;
}
div
{
    text-align: center;
}
.inoneline
{
    display: flex;
    flex-direction: row;
}
.marginstart
{
    margin-left: 33%;
}

.color_red
{
    background: red;
}
.color_aquamarine
{
    background-color: aquamarine;
}

.bottom
{
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
}
.bottom:hover , .b1:hover
{
    background-color:rgb(94, 255, 0);
}

.block
{
    border-radius:10px 30px;
    width: 120px;
    height: 100px;
    margin: 5px;
    padding-top: 30px;
    text-align: center;
}
.b1
{
    background: red;
}

.b2
{
    background: yellow;
}
.b2:hover
{
    background-color:rgb(229, 55, 127);
}

.b3
{
    background: rgb(229, 152, 29);
}
.b3:hover
{
    background-color:rgb(29, 217, 183);
}

.b4
{
    background: rgb(48, 68, 218);
}
.b4:hover
{
    background-color:rgb(239, 234, 86);
}
