body{
    background-image: src="C:\Users\HP PC\OneDrive\Pictures\Screenshots\Screenshot 2022-03-28 193930.png";
    margin:3%;
}

.a1{
    background-color: antiquewhite;
}

.a1{
    cursor:pointer;
}

button{
    background-color: gold;
    width:250px;
}

button:hover{
    background-color: brown;
    color:aqua;
}
img{
    border: 10px dotted pink;
}
img:hover{
    background-color: beige;
}