/*!commenting rough idea about the topic*/

body{
    margin: 0;     /* fullpage or body ke bich me distance */
    padding: 0;     /* body aur content ke bich ka distance*/
    width: 100%;    /* web page ki width kitna rakhna hai*/
    height: 100vh;      /*height kitna rakhna hai like vh matlub jitna bhi viewport ho like full screen */
    display: flex;      /*display karne ke liye flex property use kar rahe hai */
    align-items: center;        /*align-items — controls alignment of all items on the cross axis  */
    justify-content: center;      /* justify-content — controls alignment of all items on the main axis. */
}

.container{
    position: absolute;    /*relative  absolute  static */
    width: 360px;          
    height: 460px;
    margin-top: 150px;      /* margin ke top se itna niche*/
    background: rgb(0,0,0,0.5);    /* blur */
    transform: rotate(-30deg) skew(25deg) scale(.8);      
    transition: 0.5s;       /*no effect here*/
}
/*
rotate 2d rotation change x and y axis can be -ve or +ve 
skew is like khicna image kho
*/

.container img{
    position: absolute;      /*absolute mean vo location jaha bhi input hua uska koi effect nhi hai or dusra input bhi same location pe de sakte hai*/
    width: 100%;            /*image width height decide kar rahe hai*/
    height: 460px;
    transition: 0.5s;    /*yaha iska koi effect nhi ho raha hai*/
} 

.container:hover img:nth-child(4)
{
    /* transition: 0.5s;     decide karega kitna time lagega ise transition karne me */
    transform: translate(160px,-160px);
    opacity: 1;
}
/*
tranform have many class we have used translate x axis to y axis 
*/
.container:hover img:nth-child(3)
{
    transform: translate(120px,-120px);
    opacity: .8;
}
.container:hover img:nth-child(2)
{
    transform: translate(80px,-80px);
    opacity: .6;
}
.container:hover img:nth-child(1)
{
    transform: translate(40px,-40px);
    opacity: .4;
}